<header class="header-container">
    <h1>
        <a href="/">Codeial</a></h1>
    <ul>
        <% if(locals.user){%>
            <li>
                <a href="/user/profile"><%= user.name%></a>
            </li>
            <li>
                <a href="/user/Sign-out">Sign Out</a>
            </li>
            <%}else{%>
                <li>
                    <a href="/user/Sign-in">Sign In</a>
                </li>
                <li>
                    <a href="/user/Sign-up">Sign Up</a>
                </li>
                <%}%>
    </ul>
</header>