<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codeial / <%= title%>
</h1>
<h1>
    Name : <%= user.name %>
</h1>
<h1>
    Email : <%= user.email %>
</h1>

<button >
    <a href="/user/sign-out">
        Sign Out
    </a>
</button>